<% if user_signed_in? %>
  <% if tweet.favorited_by?(current_user) %> <!-- ログインしているユーザーがいいねしたかどうかで分岐 -->
    <p><span>いいね解除: </span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :delete, remote: true %></p>
  <% else %>
    <p><span>いいね: </span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :post, remote: true %></p>
  <% end %>
<% else %>
  <p><span>いいね数: </span><%= tweet.favorites.count %></p>
<% end %>
