<main class="main">
	<div class="top-image">
		<h1>あなたの旅をつなげよう。</h1>
	</div>
  <div class="inner">
    <div class="card__wrapper">
      <%= render partial: "tweet", collection: @tweets %>
    </div>
  </div>
</main>
